.App-results {
  display: inline-block;
  list-style-type: none;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 80px;

}

.resultContainer {
  display: inline;
}


.App-results img {
  margin-top: -15px;
  height: 120px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.App-results-address {
  letter-spacing: 1px;
}

.App-results-address a {
  text-decoration: none;
  color: salmon;
}

.App-results-price {
  color: salmon;
  margin: 10px 0px;
  font-size: 60px;
  font-weight: 200;
  border: solid;
}

.picture:hover {
  -webkit-animation: imgscale 1s forwards;
  -o-animation: imgscale 1s forwards;
  animation: imgscale 1s forwards;
}
.App-results-name {
  color: salmon;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 280px;
}

.App-results button {
  border: none;
  color: white;
  background-color: salmon;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}


/****** MOBILE STYLES ********/
.App-results-mobile{
  display:inline-block;
  margin-top: 20px;
  margin-right: 40px;
  padding: 0px 10px;
  list-style-type: none;
}

/*.App-results li:hover {
  animation: App-result-up 0.5s forwards;
}
.App-results-mobile li:hover {
  animation: App-result-up 0.5s forwards;
}
*/
.App-results li {
  transform: translate(0%);
  height: 250px;
  width: 200px;
  background-color: white;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

}

.App-results-mobile li {
  height: 200px;
  width: 150px;
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: 0px 15px 21px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 15px 21px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 15px 21px 1px rgba(0,0,0,0.05);
  animation: App-result-down 0.5s forwards;
}


.App-results-name-mobile {
  color: salmon;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 215px;
}

.App-results-price-mobile {
  color: salmon;
  margin-top: -10px;
  font-size: 50px;
  font-weight: 200;
}
.App-results-rating {
  position: relative;
  color: #aaaaaa;
  z-index: -1;
  margin: -65px 0px;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 5px;
}
.App-results-rating-mobile {
  position: relative;
  color: #aaaaaa;
  z-index: -1;
  margin: -35px 0px;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 5px;
}
/*END OF MOBILE STYLES*/


.tempBlock{
  height: 150px;
}



@keyframes App-result-up {
  0% { transform: translateY(0);}
  30% { transform: translateY(5%); }
  100% { transform: translateY(-20%); }
}

@keyframes App-result-down {
  0% { transform: translateY(-20%);}
  50% { transform: translateY(0%); }
  75% { transform: translateY(-5%); }
  100% { transform: translateY(0%); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}